.profile {
    background-color: #D8AE7E;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 30px;
}

.prof-details {
    display: flex;
    justify-content: center;
}

.prof-details table tr,
.prof-details table th {
    font-size: larger;
}

#user-img {
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    /* Align the image to the top left corner */
}

th,
td {
    padding: 8px;
    /* Add padding to cells for spacing */
    text-align: left;
    /* Align text to the left within cells */
    /* border: 1px solid #dddddd; */
    /* Add border for cells */
}