body {
    font-family: Arial, sans-serif;
    display: flex;
}

#topbar{
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100vw;
    align-items: center;
    text-decoration: underline;
    gap: 50px;
    flex-direction: row;
    height: 50px;
    background: white;
    /* border: solid 1px #333; */
}

#sidebar {
    width: 200px;
    height: 90%;
    background: #333;
    color: #fff;
    margin-top: 70px;
    position: fixed;
    left: 0px;
}

#sidebar.active {
    width: 0px;
}



.header-section{
    display: flex;
    flex-direction: row;
}


.sidebar-content {
    padding: 10px;
}

.sidebar-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

#main-content {
    margin-left: 215px;
    margin-top: 70px;
    transition: margin-left 0.2s;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}


@media print {
    body * {
        visibility: hidden; /* Hide everything by default */
    }
    .printable, .printable * {
        visibility: visible; /* Make printable elements visible */
    }
    .printable {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
    }
    .block {
        margin: 0; /* Remove margin for print */
        padding: 0; /* Remove padding for print */
        border: none; /*Remove border for print*/
        /* page-break-inside: avoid; Avoid breaking inside blocks */
    }
    .block canvas {
        width: 100% !important; /* Ensure canvas width is full for print */
        height: auto !important; /* Allow canvas height to adjust */
    }
    #main-content {
        margin-left: 0; /* Ensure no left margin for print */
    }
    #sidebar {
        display: none; /* Hide sidebar for print */
    }
}
















.block {

    background: #f4f4f4;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    /* flex: 0 0 50%; Grow = 0, Shrink = 0, Basis = 50% */
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 10px; /* Optional padding for spacing */
}


